# Basic functionality of octant package

Import the necessary modules

In [1]:
from pathlib import Path
from octant.core import TrackRun, OctantTrack, HOUR

Define the common data directory

In [2]:
sample_dir = Path('.') / 'sample_data'

Data are usually organised in hierarchical directory structure. Here, the relevant parameters are defined.

In [3]:
dataset = 'era5'
period = 'test'
run_id = 0

Construct the full path

In [4]:
track_res_dir = sample_dir / dataset / f'run{run_id:03d}' / period

## Load the data

In [5]:
TR = TrackRun(track_res_dir)

In [6]:
print(TR)

<octant.core.TrackRun>
[671 tracks]

Data columns:
lon | lat | vo | time | area | vortex_type | cat

Sources:
sample_data/era5/run000/test

The `TrackRun` object also has an HTML view available in Jupyter Notebooks

In [7]:
TR

<octant.core.TrackRun> [671 tracks]

In [8]:
type(TR)

octant.core.TrackRun

In [9]:
len(TR)

671

In [10]:
TR.size()

671

In [11]:
TR.tstep_h

1.0

### Initialisation

`TrackRun` class can be initialised empty:

In [12]:
tr_empty = TrackRun()

In [13]:
print(tr_empty)

<octant.core.TrackRun>
[0 tracks]

### Concatenate data from several directories

```python
TR = TrackRun(one_directory)
TR2 = TrackRun(another_directory)
TR.extend(TR2)
```

or

```python
TR += TrackRun(another_directory)
```

## Units of TrackRun

In [14]:
import random

Each cyclone track stored in lists of `TrackRun` class as a `OctantTrack` instance

In [15]:
ot = random.choice([*TR[:].groupby('track_idx')])[1]

It is essentially a sub-class of pandas.DataFrame

In [16]:
ot

                    lon   lat        vo                time         area  \
track_idx row_idx
376       0       -14.7  82.2  0.000202 2011-01-20 04:00:00   6864.74902
          1       -15.0  82.2  0.000201 2011-01-20 05:00:00   7802.58154
          2       -15.3  82.2  0.000210 2011-01-20 06:00:00   8198.72656
          3       -15.3  82.2  0.000214 2011-01-20 07:00:00   9177.82031
          4       -15.0  82.2  0.000214 2011-01-20 08:00:00   9038.06445
          5       -15.0  82.2  0.000209 2011-01-20 09:00:00   7884.43018
          6       -19.2  83.1  0.000292 2011-01-20 10:00:00  18185.89258
          7       -18.9  83.1  0.000298 2011-01-20 11:00:00  18017.74805
          8       -18.3  82.8  0.000299 2011-01-20 12:00:00  19019.00391
          9       -17.7  82.8  0.000293 2011-01-20 13:00:00  19356.43750
          10      -17.4  82.8  0.000283 2011-01-20 14:00:00  18499.81641
          11      -17.1  81.9  0.000309 2011-01-20 15:00:00  16203.83984
          12      -16.5  81.9  0.000341 2011-01-20 16:00:00  14386.16211
          13      -15.6  81.9  0.000349 2011-01-20 17:00:00  12277.50195
          14      -15.0  81.9  0.000300 2011-01-20 18:00:00   9475.77441

                   vortex_type  cat
track_idx row_idx
376       0                  0    0
          1                  0    0
          2                  0    0
          3                  0    0
          4                  0    0
          5                  0    0
          6                  0    0
          7                  0    0
          8                  0    0
          9                  0    0
          10                 0    0
          11                 0    0
          12                 0    0
          13                 0    0
          14                 0    0

In [17]:
type(ot)

octant.core.OctantTrack

It has a few useful properties

In [18]:
ot.lifetime_h

14.0

In [19]:
ot.total_dist_km

314.0453724655085

including maximum and mean vorticity in $ s^{-1}$:

In [20]:
ot.max_vort, ot.mean_vort

(0.00034919, 0.0002675873333333334)

In [21]:
ot.gen_lys_dist_km

33.675964538523665

In [22]:
ot.average_speed

22.43181231896489

In [23]:
ot.lonlat

array([[-14.7,  82.2],
       [-15. ,  82.2],
       [-15.3,  82.2],
       [-15.3,  82.2],
       [-15. ,  82.2],
       [-15. ,  82.2],
       [-19.2,  83.1],
       [-18.9,  83.1],
       [-18.3,  82.8],
       [-17.7,  82.8],
       [-17.4,  82.8],
       [-17.1,  81.9],
       [-16.5,  81.9],
       [-15.6,  81.9],
       [-15. ,  81.9]])

## Running octant with a progress bar

Having either the `fastprogress` or `tqdm` module installed allows for running some methods with a bar that shows progress. To enable it, set the attribute of `RUNTIME` variable to `True`:

In [24]:
import octant
octant.RUNTIME.enable_progress_bar = True

In [25]:
conditions = [
    ('long_lived', [lambda ot: ot.lifetime_h >= 6]),
    ('far_travelled_and_very_long_lived', [lambda ot: ot.lifetime_h >= 36,
                                           lambda ot: ot.gen_lys_dist_km > 300.0]),
    ('strong', [lambda x: x.max_vort > 1e-3])
]

In [26]:
TR.classify(conditions)

More `classify()` [examples](01_Categorisation.ipynb)

## octant's utilities

In [27]:
from octant.utils import great_circle

In [28]:
great_circle(lon1=9.6, lon2=10.2, lat1=76.9, lat2=78.9)

222826.50759451024