# Basic functionality of octant package

Import the necessary modules

In [1]:
from pathlib import Path
import matplotlib.pyplot as plt
from octant.core import TrackRun, OctantTrack, HOUR

Define the common data directory

In [2]:
sample_dir = Path('.') / 'sample_data'

Data are usually organised in hierarchical directory structure. Here, the relevant parameters are defined.

In [3]:
dataset = 'era5'
period = 'test'
run_id = 0

Construct the full path

In [4]:
track_res_dir = sample_dir / dataset / f'run{run_id:03d}' / period

## Load the data

In [5]:
TR = TrackRun(track_res_dir)

In [6]:
type(TR)

octant.core.TrackRun

In [7]:
len(TR)

671

In [8]:
TR.tstep_h

1.0

### Concatenate data from several directories

In [9]:
# TR = TrackRun(one_directory)
# TR2 = TrackRun(another_directory)
# TR.extend(TR2)
## or
# TR += TrackRun(another_directory)

`TrackRun` class can be initialised empty:

In [10]:
tr_empty = TrackRun()

In [11]:
print(tr_empty)

TrackRun(, 0)

## Categorise tracks by different filters

In [12]:
import xarray as xr

In [13]:
lsm = xr.open_dataarray(sample_dir / dataset / 'lsm.nc')
lsm = lsm.squeeze()  # remove singular time dimension

In [14]:
TR.categorise(lsm=lsm, filt_by_dist=False, filt_by_land=True, filt_by_domain_bounds=True, coast_rad=50)

In [15]:
TR.size(), TR.size('good'), TR.size('pmc')

(671, 135, 63)

## Units of TrackRun

In [16]:
import random

Each cyclone track stored in lists of `TrackRun` class as a `CycloneTrack` instance

In [17]:
ct = random.choice([*TR['pmc'].groupby('track_idx')])[1]

It is essentially a sub-class of pandas.DataFrame

In [18]:
ct

                    lon   lat       vo                time         area  \
track_idx row_idx
579       0        14.4  72.0  0.54056 2011-01-28 07:00:00  24817.41992
          1        15.0  71.7  0.53787 2011-01-28 08:00:00  31384.82617
          2        16.2  71.4  0.50913 2011-01-28 09:00:00  30867.31836
          3        21.0  70.5  0.52384 2011-01-28 10:00:00  28821.66406
          4        20.7  70.5  0.54792 2011-01-28 11:00:00  26075.45508
          5        20.4  70.5  0.53521 2011-01-28 12:00:00  24073.55078
          6        21.0  70.2  0.41143 2011-01-28 13:00:00  25355.80078
          7        21.0  70.2  0.39176 2011-01-28 14:00:00  20254.17578
          8        21.0  70.2  0.26220 2011-01-28 15:00:00   1133.33301
          9        21.0  70.2  0.20708 2011-01-28 16:00:00      0.00000

                   vortex_type  cat
track_idx row_idx
579       0                  0    2
          1                  0    2
          2                  0    2
          3                  0    2
          4                  0    2
          5                  0    2
          6                  0    2
          7                  1    2
          8                  0    2
          9                  0    2

In [19]:
type(ct)

octant.core.OctantTrack

Tt has a few useful properties

In [20]:
ct.lifetime_h

9.0

In [21]:
ct.total_dist_km

356.4138601560814

E.g., maximum vorticity in $ 10^{-3} s^{-1}$

In [22]:
ct.max_vort

0.54792

In [23]:
ct.mean_vort

0.44670000000000004

In [24]:
ct.gen_lys_dist_km

310.46960172344166

In [25]:
ct.average_speed

39.60154001734238

In [26]:
ct.lonlat

array([[14.4, 72. ],
       [15. , 71.7],
       [16.2, 71.4],
       [21. , 70.5],
       [20.7, 70.5],
       [20.4, 70.5],
       [21. , 70.2],
       [21. , 70.2],
       [21. , 70.2],
       [21. , 70.2]])

## octant's utilities

In [27]:
from octant.utils import great_circle

In [28]:
great_circle(9.6, 10.2, 76.9, 78.9)

222826.50759451024