# Basic functionality of octant package

Import the necessary modules

In [1]:
from pathlib import Path
from octant.core import TrackRun, OctantTrack, HOUR

Define the common data directory

In [2]:
sample_dir = Path('.') / 'sample_data'

Data are usually organised in hierarchical directory structure. Here, the relevant parameters are defined.

In [3]:
dataset = 'era5'
period = 'test'
run_id = 0

Construct the full path

In [4]:
track_res_dir = sample_dir / dataset / f'run{run_id:03d}' / period

## Load the data

In [5]:
TR = TrackRun(track_res_dir)

In [6]:
print(TR)

<octant.core.TrackRun>
[671 tracks]

Data columns:
lon | lat | vo | time | area | vortex_type | cat

Sources:
sample_data/era5/run000/test

The `TrackRun` object also has an HTML view available in Jupyter Notebooks

In [7]:
TR

<octant.core.TrackRun> [671 tracks]

In [8]:
type(TR)

octant.core.TrackRun

In [9]:
len(TR)

671

In [10]:
TR.tstep_h

1.0

### Concatenate data from several directories

In [11]:
# TR = TrackRun(one_directory)
# TR2 = TrackRun(another_directory)
# TR.extend(TR2)
## or
# TR += TrackRun(another_directory)

`TrackRun` class can be initialised empty:

In [12]:
tr_empty = TrackRun()

In [13]:
print(tr_empty)

<octant.core.TrackRun>
[0 tracks]

## Categorise tracks by different filters

In [14]:
import xarray as xr

In [15]:
lsm = xr.open_dataarray(sample_dir / dataset / 'lsm.nc')
lsm = lsm.squeeze()  # remove singular time dimension

In [16]:
TR.categorise(lsm=lsm, filt_by_dist=False, filt_by_land=True, filt_by_domain_bounds=True, coast_rad=50)

In [17]:
TR

<octant.core.TrackRun> [671 tracks]

In [18]:
TR.size(), TR.size('basic'), TR.size('moderate')

(671, 135, 90)

## Units of TrackRun

In [19]:
import random

Each cyclone track stored in lists of `TrackRun` class as a `OctantTrack` instance

In [20]:
ot = random.choice([*TR['moderate'].groupby('track_idx')])[1]

It is essentially a sub-class of pandas.DataFrame

In [21]:
ot

                    lon   lat        vo                time          area  \
track_idx row_idx
621       0        -6.9  68.7  0.000207 2011-01-29 23:00:00   11364.80078
          1        -6.3  69.0  0.000229 2011-01-30 00:00:00   16856.33398
          2        -5.1  69.0  0.000241 2011-01-30 01:00:00   21613.01367
          3        -5.4  69.6  0.000241 2011-01-30 02:00:00   22428.08789
          4        -3.9  69.6  0.000258 2011-01-30 03:00:00   32098.87305
          5        -2.4  69.6  0.000279 2011-01-30 04:00:00   44099.26562
          6        -1.8  69.9  0.000319 2011-01-30 05:00:00   34129.87109
          7         0.3  69.6  0.000353 2011-01-30 06:00:00   38492.92188
          8         0.6  69.9  0.000380 2011-01-30 07:00:00   39705.30859
          9       -16.2  71.4  0.000717 2011-01-30 08:00:00  135273.28125

                   vortex_type  cat
track_idx row_idx
621       0                  0    2
          1                  0    2
          2                  0    2
          3                  0    2
          4                  0    2
          5                  0    2
          6                  0    2
          7                  0    2
          8                  0    2
          9                  2    2

In [22]:
type(ot)

octant.core.OctantTrack

It has a few useful properties

In [23]:
ot.lifetime_h

9.0

In [24]:
ot.total_dist_km

1074.988375183569

including maximum and mean vorticity in $ s^{-1}$:

In [25]:
ot.max_vort, ot.mean_vort

(0.00071686, 0.000322378)

In [26]:
ot.gen_lys_dist_km

462.4324882120768

In [27]:
ot.average_speed

119.44315279817432

In [28]:
ot.lonlat

array([[ -6.9,  68.7],
       [ -6.3,  69. ],
       [ -5.1,  69. ],
       [ -5.4,  69.6],
       [ -3.9,  69.6],
       [ -2.4,  69.6],
       [ -1.8,  69.9],
       [  0.3,  69.6],
       [  0.6,  69.9],
       [-16.2,  71.4]])

## octant's utilities

In [29]:
from octant.utils import great_circle

In [30]:
great_circle(lon1=9.6, lon2=10.2, lat1=76.9, lat2=78.9)

222826.50759451024